@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-top">
    <div class="col fill">
        @RenderBody()
    </div>
    <div class="col move-right right-panel-container sm-hide">
        @await Html.PartialAsync("~/Views/Home/RightPanel.cshtml")
    </div>
</div>