<nav class="side-navbar">
    <ul class="list-unstyled">
        <li>Home</li>
        Public
        <li>
            <ul class="side-navbar-public">
                <li>CodePop</li>
                <li>Tags</li>
                <li>Users</li>
                <li>Jobs</li>
            </ul>
        </li>
        <li>Q & A</li>
    </ul>
</nav>