/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */



:root {
    --purp1: rgba(159, 0, 159, 1);
    --purp2: rgba(127, 0, 127, 1);
    --purp3: rgba(95, 0, 95, 1);
}

.right {
    float: right;
}

.btn-purple {
    background-color: var(--purp1);
    border: 2px solid var(--purp1);
    color: white;
}

    .btn-purple:hover {
        background-color: var(--purp2);
        border-color: var(--purp2);
        color: white;
    }

.btn-purple:active {
    background-color: var(--purp3);
    border-color: var(--purp3);
    color: white;
}

.btn-purple-outline {
    background-color: transparent;
    border: 2px solid var(--purp1);
    color: var(--purp2);
}

    .btn-purple-outline:hover {
        background-color: var(--purp2);
        border-color: var(--purp2);
        color: white;
    }

    .btn-purple-outline:active {
        background-color: var(--purp3);
        border-color: var(--purp3);
    }

body {
    margin: 0 auto;
}


.topbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 3px solid var(--purp1);
    background-color: lightgray;
    border-bottom: 1px solid black;
}

.topbar {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px;
}


.topbar-logo {
    height: 100%;
    font-size: 24px;
    padding: 3px;
}


.topbar-link-container {
    flex-direction: row;
    flex-basis: content;
    vertical-align: top;
    height: 100%;
}

.topbar-link {
    margin: 3px 4px;
}
.topbar-icon {
    color: var(--purp1);
    text-align: center;
    padding: 7px 5px 5px 5px;
}
.topbar-icon:hover {
    color: var(--purp2);
}
    .topbar-icon:active {
        color: var(--purp3);
    }

.topbar-search {
    height: 35px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 12px;
    background-color: white;
}

.topbar-search-field {
}

.topbar-search-icon {
}

.main-container {
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}


.main-sidebar {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    border-right: 1px solid black;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .main-sidebar {
        position: fixed;
        z-index: 1000;
        background-color: white;
        top: 60px;
        left: 0px;
        box-shadow: 4px 4px lightgrey ;
        border: none;
    }
}

.main-sidebar ul {
    list-style: none;
    padding: 5px;
}

.main-body {
    padding: 5px;
    flex: auto;
}

.right-panel-container {
    flex-basis: 250px;
    flex-grow: 0;
}