* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

input, input:focus, input:hover {
    outline: transparent;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.col {
    display: flex;
}

.fill {
    flex-grow: 100;
}

.align-top {
    align-items: flex-start;
}

.move-right {
    margin-left: auto;
}

.container {
    display: block;
    width: 100%;
    padding: 5px;
}



.button {
    display: flex;
    height: 36px;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    text-decoration: none;
}


.transparent {
    background-color: transparent;
}


@media screen and (max-width: 767px) {
    .xs-hide {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .xs-show {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .sm-hide {
        display: none;
    }
}

.list-unstyled {
    list-style: none;
}

.list-unstyled * {
    text-decoration: none;
}
